<% include partials/header %>

    <div id="main-header" class="jumbotron mx-auto ">
        <h1 class="display-4">Car pix</h1>
        <p class="lead">View, post and comment car fotos.</p>
        <a href="/cars" class="btn btn-success btn-lg">Enter</a>
    </div>

<% include partials/footer %>